@keyframes shakeLeft {
  0% {
    transform: rotate(0deg); }
  17% {
    transform: rotate(-15deg); }
  34% {
    transform: rotate(0deg); }
  51% {
    transform: rotate(-15deg); }
  68% {
    transform: rotate(0deg); }
  85% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0); } }

@keyframes shakeRight {
  0% {
    transform: rotate(0deg); }
  17% {
    transform: rotate(15deg); }
  34% {
    transform: rotate(0deg); }
  51% {
    transform: rotate(15deg); }
  68% {
    transform: rotate(0deg); }
  85% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10/16 = 0.625 => 62.5% */ }

body {
  box-sizing: border-box;
  overflow: hidden; }

body {
  font-family: "Londrina Solid", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  letter-spacing: 3px; }

.section-main .name {
  font-size: 8rem;
  color: #f7e5d6;
  font-weight: 300;
  text-shadow: 5px 5px 8px #754c28; }
  .section-main .name::placeholder {
    color: #f7e5d6; }
  @media only screen and (max-width: 1200px) {
    .section-main .name {
      font-size: 6rem; }
      .section-main .name::placeholder {
        font-size: 6rem; } }
  @media only screen and (max-width: 900px) {
    .section-main .name {
      font-size: 5rem; }
      .section-main .name::placeholder {
        font-size: 5rem; } }

.section-main .score {
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  line-height: 7rem;
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px #ae845b;
  color: #754c28;
  background-color: #eac9b0;
  height: 50%;
  width: 100%; }
  .section-main .score-label {
    font-size: 2.5rem;
    color: #f7e5d6;
    text-shadow: 3px 3px 5px #754c28; }

.section-main .sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30rem;
  color: #f7e5d6;
  text-shadow: 1rem 1rem 1rem rgba(174, 132, 91, 0.5);
  line-height: 1; }

.section-end-screen {
  font-size: 3rem;
  text-align: center;
  color: #c3996b; }
  .section-end-screen span {
    color: #754c28; }
  @media only screen and (max-width: 700px) {
    .section-end-screen {
      font-size: 2.5rem; } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 2rem;
  letter-spacing: 3px;
  border-radius: 10rem;
  color: #f7e5d6;
  background-color: #c3996b;
  border: 0.3rem solid #754c28;
  text-shadow: 3px 3px 5px #754c28;
  box-shadow: 2px 2px 3px #f7e5d6 inset, -2px -2px 3px #754c28 inset, 0.5rem 0.5rem 1rem rgba(117, 76, 40, 0.8); }

.btn:active {
  box-shadow: 2px 2px 3px #754c28 inset, -2px -2px 3px #f7e5d6 inset, 0.2rem 0.2rem 0.3rem rgba(117, 76, 40, 0.8); }

.btn-rules {
  position: absolute;
  top: 2rem;
  right: 2rem; }

.btn.btn-reload {
  position: absolute;
  top: 2rem;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 4rem; }
  @media only screen and (max-width: 900px) {
    .btn.btn-reload {
      left: 2rem;
      transform: translateX(0);
      padding: 0 1.5rem; } }

.section-main {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(img/background.png);
  background-size: cover; }
  @media only screen and (max-width: 600px) {
    .section-main {
      flex-direction: column;
      align-items: center; } }
  .section-main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%; }
    @media only screen and (max-width: 600px) {
      .section-main .container {
        height: 35%; } }
    .section-main .container .name {
      text-align: center;
      border: none;
      background-color: transparent;
      width: 50%; }
      @media only screen and (max-width: 1200px) {
        .section-main .container .name {
          width: 70%; } }
    @media only screen and (max-width: 600px) {
      .section-main .container-left {
        margin-top: 20%; } }
    .section-main .container .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 70%;
      margin: 3rem 0; }
      .section-main .container .image-container .hand-1 {
        width: 100%; }
        .section-main .container .image-container .hand-1.shake-left {
          animation: shakeLeft 2s ease-in;
          transform-origin: left 70%; }
      .section-main .container .image-container .hand-2 {
        width: 100%; }
        .section-main .container .image-container .hand-2.shake-right {
          animation: shakeRight 2s ease-in;
          transform-origin: right 70%; }
  .section-main .score-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 15%;
    width: 100%; }
    .section-main .score-container div {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%; }
      .section-main .score-container div:nth-last-of-type(1), .section-main .score-container div:nth-last-of-type(3) {
        width: 50%; }
        @media only screen and (max-width: 600px) {
          .section-main .score-container div:nth-last-of-type(1), .section-main .score-container div:nth-last-of-type(3) {
            width: 40%; } }
      .section-main .score-container div:nth-last-of-type(2) {
        width: 30%; }
    .section-main .score-container input {
      width: 100%;
      height: 50%;
      font-size: 5rem;
      font-weight: 300;
      text-align: center;
      letter-spacing: 3px;
      padding: 1rem 2rem;
      color: #ae845b;
      background-color: #f7e5d6;
      border: none; }
      .section-main .score-container input::-webkit-outer-spin-button, .section-main .score-container input::-webkit-inner-spin-button {
        -webkit-appearance: none; }
      .section-main .score-container input[type=number] {
        -moz-appearance: textfield; }
      .section-main .score-container input:focus {
        outline: none;
        box-shadow: 2px 2px 3px #754c28 inset, -2px -2px 3px #754c28 inset; }
    .section-main .score-container label {
      font-size: 2.5rem;
      color: #f7e5d6;
      text-shadow: 3px 3px 5px #754c28; }

.section-rules {
  display: none;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: all .5s;
  opacity: 0; }
  .section-rules.show-rules {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1; }
  .section-rules .pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .section-rules .pop-up img {
      display: block;
      max-height: 90vh;
      max-width: 80vw; }

.section-end-screen {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5); }
  .section-end-screen .message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 40rem;
    min-width: 60rem;
    height: 50vh;
    width: 40vw;
    padding: 5rem;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 700px) {
      .section-end-screen .message-container {
        min-width: 90vw; } }
    .section-end-screen .message-container img {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      height: 5rem;
      width: 5rem; }
    .section-end-screen .message-container .play-again {
      text-decoration: none;
      color: #754c28;
      margin-top: 5rem;
      padding: 1rem 2rem;
      border: 0.3rem solid #754c28;
      border-radius: 10rem;
      background-color: #f7e5d6;
      box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
      transition: all .5s; }
      .section-end-screen .message-container .play-again:hover {
        color: #f7e5d6;
        background-color: #754c28; }
      .section-end-screen .message-container .play-again:active {
        transform: translateY(0.5rem);
        box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5); }
