/* Basic styling ****************************************************/
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 10/16 = 0.625 => 62.5% */
}

body {
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Londrina Solid", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  letter-spacing: .3rem;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("resources/css/img/background.png");
  background-size: cover;
}

/* Header styling ***************************************************/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  width: 100%;
  
  /* background-color: rgba(0, 0, 255, 0.2); */
}
/* Elements in header */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 2rem;
  margin: 0 1rem;
  letter-spacing: .3rem;
  border-radius: 10rem;
  color: #f7e5d6;
  background-color: #c3996b;
  border: .3rem solid #754c28;
  text-shadow: .3rem .3rem .5rem #754c28;
  box-shadow: .2rem .2rem .3rem #f7e5d6 inset, -.2rem -.2rem .3rem #754c28 inset, 0.5rem 0.5rem .7rem rgba(117, 76, 40, 0.5);
  transition: opacity 1s, box-shadow .15s;
}

.btn:active {
  box-shadow: .2rem .2rem .3rem #754c28 inset, -.2rem -.2rem .3rem #f7e5d6 inset, 0.2rem 0.2rem 0.3rem rgba(117, 76, 40, 0.8);
}

.reset {
  font-weight: 900;
}

/* Middle section styling *******************************************/
section {
  display: flex;
  height: 80%;
  /* background-color: rgba(126, 252, 0, 0.2); */
}
section div > * {
  transition: all 1s;
}

section div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section input {
  height: 10rem;
  width: 40rem;
  background: transparent;
  border: none;

  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.7;
  color: rgb(255, 255, 255);
  letter-spacing: .3rem;
}

section input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.left-div {
  height: 100%;
  width: 50%;
  /* background-color: rgba(240, 128, 128, 0.2); */
}

.left-div img {
  transform-origin: left 70%;
  filter: drop-shadow(.5rem .5rem 1rem rgba(117, 76, 40, 0.5));
}

.right-div {
  height: 100%;
  width: 50%;
  /* background-color: rgba(255, 153, 74, 0.2); */
}

.right-div img {
  transform-origin: right 70%;
  filter: drop-shadow(.5rem .5rem 1rem rgba(117, 76, 40, 0.5));
}

.pc-name {
  height: 10rem;
  width: 40rem;
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 2.5;
  color: rgb(255, 232, 142);
  letter-spacing: .3rem;
}

/* Footer styling ***************************************************/
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: #fcd3a6;
  transition: height 1s;
  box-shadow: 0 -.2rem 2rem rgba(117, 76, 40, 0.8);
}

/* Elements in footer */
footer > * {
  transition: all 1s;
}
footer p {
  font-size: 4rem;
  text-transform: uppercase;
  color: #754c28;
  padding: .5rem 2rem;
}

footer input {
  height: 5rem;
  width: 20rem;
  border-radius: 1rem;
  border: none;

  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  /* line-height: 1.7; */
  color: #777;
  letter-spacing: .2rem;
}

input:focus {
  outline: none;
}

footer input::placeholder {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1;
}

/* Rules section styling ********************************************/
.dark-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0;
  pointer-events: none; */
  transition: all 1s;
}

.rules-img {
  height: auto;
  width: 70%;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

/* End screen styling ***********************************************/
.section-end-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  
  transition: all 1s;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: 40rem;
  min-width: 60rem;
  height: 50vh;
  width: 40vw;
  padding: 5rem;
  font-size: 3rem;
  text-align: center;
  color: #c3996b;
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.winner-name {
  color: #754c28;
}

.message-container img {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
}

.play-again {
  text-decoration: none;
  color: #754c28;
  padding: 1rem 2rem;
  border: 0.3rem solid #754c28;
  border-radius: 10rem;
  background-color: #f7e5d6;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  transition: all .5s;
}

.play-again:hover {
  color: #f7e5d6;
  background-color: #754c28;
}

.play-again:active {
  transform: translateY(0.5rem);
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}

/* Animation classes ************************************************/
@keyframes shakeLeft {
  0% {
    transform: rotate(0deg); }
  17% {
    transform: rotate(-15deg); }
  34% {
    transform: rotate(0deg); }
  51% {
    transform: rotate(-15deg); }
  68% {
    transform: rotate(0deg); }
  85% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0); }
}

@keyframes shakeRight {
  0% {
    transform: rotate(0deg); }
  17% {
    transform: rotate(15deg); }
  34% {
    transform: rotate(0deg); }
  51% {
    transform: rotate(15deg); }
  68% {
    transform: rotate(0deg); }
  85% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0); }
}

.shake-left {
  animation: shakeLeft 2s ease-in;
}

.shake-right {
  animation: shakeRight 2s ease-in;
}

/* Helper classes ***************************************************/
.hide {
  pointer-events: none;
  opacity: 0;
}

.show {
  opacity: 1;
}

.hide-footer {
  height: 0;
}

.disposition-left {
  transform: translateX(-50vw);
}

.disposition-right {
  transform: translateX(50vw);
}