// colors
$color-1: #f7e5d6;
$color-2: #eac9b0;
$color-3: #c3996b;
$color-4: #ae845b;
$color-5: #754c28;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;